.about-content {
  position: relative;
  padding-inline: 1.5rem;
  text-align: center;
  padding-block-start: 3.75rem;
  padding-block-end: 8rem;
}
.about-text {
  font: var(--desktop-body2SoftBold);
}
.gradient-right {
  position: absolute;
  inline-size: 50%;
  top: -50px;
  block-size: 15rem;
  background: radial-gradient(
    240.25% 104.59% at 50% 50%,
    rgba(75, 102, 216, 0.4) 0%,
    #0e0c20 100%
  );

  border-radius: 50%;
  filter: blur(50px);
  z-index: -1;
}
.gradient-left {
  position: absolute;
  inline-size: 50%;
  block-size: 15rem;
  top: -50px;
  right: 10px;
  background: radial-gradient(
    240.25% 104.59% at 50% 50%,
    #503487 0%,
    #0e0c20 100%
  );
  filter: blur(50px);
  border-radius: 50%;
  z-index: -1;
}

@media screen and (min-width: 480px) {
  .gradient-right,
  .gradient-left {
    inline-size: 30%;
    left: 50%;
    top: 5%;
  }
  .gradient-left {
    left: 30%;
  }
  .about-text {
    text-align: start;
    font: var(--desktop-body1SoftBold);
  }
  .about-content {
    display: flex;
    justify-content: center;
  }
  .about-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .about-grid {
    align-items: flex-start;
  }

  .gradient-left,
  .gradient-right {
    left: 0;
    top: 30%;
    inline-size: 20%;
    block-size: 12.5rem;
    filter: blur(60px);
    transform: translateY(-30%);
  }
  .gradient-right {
    left: 10%;
  }
  .about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
