.categories-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 1.5rem;
  row-gap: 1.5rem;
  place-items: center;
  padding-block-end: 8rem;
}
.categories-content h4 {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  font: var(--mobile-category);
}
.categories-content h4 span {
  font: var(--mobile-body1SoftBold);
  text-transform: uppercase;
}
.is-green {
  color: var(--soft-greenLime);
}
.is-pink {
  color: var(--soft-pink);
}
.is-purple {
  color: var(--just-purple);
}
.is-orange {
  color: var(--soft-orange);
}
.is-blue {
  color: var(--light-blue);
}
.big-text {
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .categories-content h4 {
    font: var(--desktop-category);
  }
  .categories-content h4 span {
    font: var(--desktop-fourHeadline);
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1024px) {
  .categories-content {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 4rem;
    place-items: center;
    column-gap: 2rem;
  }
  .big-text {
    grid-column: span 1;
  }
  .big-text:last-child {
    grid-column: span 3;
  }
}
