.features-content {
  padding-inline: 1.5rem;
}
.features__description-info {
  text-align: center;
  padding-block-start: 2rem;
  padding-block-end: 2.5rem;
}
.feature-card {
  display: flex;
  gap: 1.5rem;
  margin-block-end: 1.5rem;
}
.feature-card__image {
  flex-shrink: 0;
}
.feature-card p {
  color: var(--grey);
  font: var(--mobile-body1Base);
}
.feature-card span {
  font: var(--mobile-body1SoftBold);
}

@media screen and (min-width: 768px) {
  .features-content {
    display: flex;
    gap: 2rem;
  }
  .features__description-info {
    padding-block-start: 0;
    text-align: start;
  }
  .features__gallery {
    overflow: hidden;
  }
  .features__gallery img {
    object-fit: cover;
    inline-size: 100%;
    min-block-size: 45.9375rem;
  }
  .feature-card p {
    font: var(--desktop-body2Base);
  }
  .feature-card span {
    font: var(--desktop-body1SoftBold);
  }
}
@media screen and (min-width: 1024px) {
  .features-content {
    gap: 7.8125rem;
  }
}
